    .App {
        text-align: center;
        background-color: #282c34;
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: azure;
    }
    
    .App-logo {
        height: 40vmin;
        pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 20s linear;
        }
    }
    
    .App-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    
    .App-link {
        color: #61dafb;
    }
    
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    .About {
        width: 100%;
        position: absolute;
        top: 120px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    
    hr {
        width: 70%;
        margin-left: 15% !important;
        margin-right: 15% !important;
        border: 10px solid aquamarine;
    }
    
    .publications {
        margin-top: 230px;
    }
    
    .slick-dots button:before {
        color: grey !important;
    }
    
    .slick-dots li.slick-active button:before {
        color: White !important;
    }